<div class="bg-screen" data-aos="fade-down">
  <div class="around-form">

    <div class="logo">
      <p class="h2">Sua senha expirou</p>
      <p class="text-sm opacity-30">Necessário alterar a sua senha.</p>
    </div>

    <form [formGroup]="formResetPassword" (ngSubmit)="formResetPasswordService.submit()">
      <inputy label="Nova senha" controlName="new" type="password"/>

      <inputy label="Confirme a nova senha" controlName="confirm" type="password"/>

      <button type="submit" class="btn-xl-success w-full" [disabled]="!formResetPassword.valid">
        <i class="fa-solid fa-check"></i> Resetar e acessar
      </button>

      <button type="submit" class="btn-xs-secondary w-full mt-3">
         Cancelar
      </button>

    </form>

  </div>
</div>
