<ng-template #tipContent>
  {{label}}
  <ng-container *ngIf="tooltip">
    <br>
    <small class="font-bold" [innerHTML]="tooltip"></small>
  </ng-container>
</ng-template>

<div class="!min-h-[50px] rounded-md z-50" [id]="loaderId" [ngbTooltip]="tipContent" [openDelay]="1000">
  <div class="!relative">
    <!-- Campo de Pesquisa -->
    <input
      type="text"
      [(ngModel)]="searchQuery"
      [class]="classInput"
      placeholder=" "
      (input)="filterOptions()"
      (blur)="hideOptions()"
      (focus)="showOptions=true"
      (keydown)="onKeyDown($event)"
      [ngClass]="{'!border-red-500':hasErrors,'!border-orange-400':!control||!formGroup,'!border-green-400':control.valid}"
    />


    <!-- Lista de Opções -->
    <div *ngIf="showOptions && filteredOptions.length > 0"
      class="absolute w-full bg-slate-50 dark:bg-slate-800 border-0 border-red-600 mt-1 rounded-md max-h-60 overflow-hidden shadow-lg shado-black"
      style="z-index: 1000;">

      <cdk-virtual-scroll-viewport itemSize="40" class="max-h-[240px] min-h-[60px] h-[240px] overflow-auto" #optionsList>
        <div #optionItem
             *cdkVirtualFor="let option of filteredOptions; let i = index"
             (click)="selectOption(option)"
             class="cursor-pointer px-2 py-2 hover:bg-blue-100 dark:hover:bg-blue-400 dark:hover:text-slate-800"
             [ngClass]="{'bg-blue-400 dark:bg-slate-950':i === activeIndex}">
          <span [innerHTML]="option.optionLabel"></span>
        </div>
      </cdk-virtual-scroll-viewport>

    </div>

    <label
      [for]="id"
      [class]="classLabel" [ngClass]="{'opacity-40 bg-transparent  cursor-not-allowed':disabled}">
      {{label}}
    </label>

    @if(value){
    <i (click)="removeSelect()" class="fa-solid fa-xmark absolute transition-all end-12 top-1 text-lg opacity-55 cursor-pointer"></i>
    }

    <i class="fa-solid fa-chevron-down absolute transition-all end-5 top-1 text-lg opacity-55" [ngClass]="{'!opacity-30 cursor-not-allowed':disabled, 'rotate-180':showOptions}"></i>

  </div>
</div>

<validation [formGroup]="formGroup" [control]="control"/>
<debugy [debug]="debug" [label]="label" [control]="control" [loading]="loading"/>
