.screen{
  @apply
    w-screen
    h-screen
    justify-between
    flex
}

.sidebar{
  @apply
    w-screen
    text-lg
    md:text-sm
    md:w-[285px]
    md:max-w-[285px]
    p-2
    h-screen
    fixed
    left-0
    top-0
    bottom-0
    duration-300
    z-30
    bg-secondary-100
    dark:bg-secondary-900
}


.content{
  @apply
    w-full
    min-h-screen
    duration-300
    md:flex-1
    pt-16
    px-5
    md:pt-0
    md:ml-72

}


.btn-toggle{
  @apply
    hidden
    md:block
    fixed
    left-0
    top-1/2
    dark:bg-gray-800
    dark:text-white
    opacity-65
    hover:opacity-100
    p-1
    py-3
    rounded-r
    cursor-pointer
    transition-all
    duration-300
    text-2xl
    z-40
}

.btn-close{
  @apply
  cursor-pointer
  absolute right-2 top-2 md:top-5 md:w-10 md:h-10 w-20 h-20 text-2xl md:text-base items-center justify-center flex
}

.btn-menu-bars-out{
  @apply
  cursor-pointer
  left-2
  top-2
  w-16
  h-16
  text-4xl
  items-center
  justify-center
  hidden
  md:block
  fixed
  z-30
}


.btn-menu-bars{
  @apply
  cursor-pointer text-4xl mx-3
}


.topbar{
  @apply
  md:hidden
  fixed
  bg-secondary-100
  dark:bg-secondary-950
   w-full
   h-16 z-20 flex flex-row items-center
}

// .avatar{
//   @apply
//     rounded-full
//     w-[40px]
//     h-[40px]
//     bg-cover
//     bg-center
//     m-2
//     border
//     border-slate-100
//     shadow-md
//     shadow-black
// }


