<div class="screen">
  <!-- Sidebar -->

  <div data-aos="fade-down" (click)="toggleSidebar()" class="btn-menu-bars-out"><i class="fa-solid fa-bars"></i></div>

  <div [ngClass]="{'hidden':isOpen}" class="topbar">
    <div data-aos="fade-down" (click)="toggleSidebar()" class="btn-menu-bars"><i class="fa-solid fa-bars"></i></div>
    <div>
      <div class="font-semibold text-lg truncate">
        Kássio Douglas Queiroz de Souza
      </div>
      <div class="text-sm opacity-55 truncate">
        kass.doug&#64;gmail.com
      </div>
    </div>
  </div>

  <div
    class="sidebar"
    [class.-translate-x-full]="!isOpen"
  >

    <div class="flex flex-col h-full p-2">
      <!-- Avatar e informações -->
      <div class="flex flex-row items-center">
        <div
          class="me-avatar-sm"
          [style.background-image]="meService.urlAvatar">
        </div>

        <div>
          <div class="font-semibold text-2xl md:text-lg truncate max-w-[70%] md:w-[170px]">
            Kássio Douglas Queiroz de Souza
          </div>
          <div class="text-xl md:text-sm opacity-55 truncate max-w-[70%] md:w-[170px]">
            kass.doug&#64;gmail.com
          </div>
        </div>

        <div (click)="toggleSidebar()" class="btn-close"><i class="fa-solid fa-xmark"></i></div>

      </div>

      <div class="border-b border-secondary-300  dark:border-secondary-800 w-full my-3"></div>

      <!-- Links -->
      <div class="overflow-auto px-1">
        @for (link of links; track link) {
          <sidebar-link [link]="link" (onCloseSidebar)="toggleSidebar()"/>
        }
      </div>
    </div>
  </div>

  <!-- Botão de Toggle (sempre na esquerda) -->
  <div
    data-aos="fade-right"
    class="hidden"
    (click)="toggleSidebar()"
  >
    <i class="fa-solid fa-chevron-left transition-all duration-300" [ngClass]="isOpen ? 'rotate-0' : 'rotate-180'"></i>
  </div>

  <!-- Conteúdo Principal -->
  <div class="content" [ngClass]="{'md:!ml-0 md:!px-20':!isOpen}">
    <router-outlet></router-outlet>
  </div>

</div>
