<ng-template #tipContent>
  {{label}}
  @if(tooltip){
  <br>
  <small class="font-bold" [innerHTML]="tooltip"></small>
  }
</ng-template>

<div class="!min-h-[50px] rounded-md" [id]="loaderId">
  <div class="relative" [ngbTooltip]="tipContent" [openDelay]="1000">

    <input
      (blur)="setTouched()"
      [disabled]="disabled"
      [type]="type"
      [id]="id"
      [class]="classInput"
      placeholder=" "
      [(ngModel)]="value"
      [mask]="mask"
      [prefix]="prefix"
      [suffix]="suffix"
      [thousandSeparator]="thousandSeparator"
      [ngClass]="{'!border-red-500':hasErrors,'!border-orange-400':!control||!formGroup,'!border-green-400':control?.valid && control?.touched}"
    />

    @if(initialType === 'password'){
    <div (click)="toogleShowPassword()" class="h-full px-4 end-0 top-0 cursor-pointer absolute">
      @if(initialType === 'password' && type === 'password'){
      <i class="fa-solid fa-lock absolute end-4 top-2 text-lg opacity-20"
        [ngClass]="{'!opacity-30 bg-transparent cursor-not-allowed':disabled}"></i>
      }@else if (initialType === 'password' && type === 'text') {
      <i class="fa-solid fa-lock-open absolute end-3 top-2 text-lg opacity-55"
        [ngClass]="{'!opacity-30 bg-transparent cursor-not-allowed':disabled}"></i>
      }
    </div>
    }

    <label [for]="id" [class]="classLabel" [ngClass]="{'opacity-40 bg-transparent  cursor-not-allowed':disabled}">
      {{label}}
    </label>
  </div>
</div>

<validation [formGroup]="formGroup" [control]="control" />

<debugy [debug]="debug" [label]="label" [control]="control" [loading]="loading" />
