<div class="bg-screen" data-aos="fade-down">
  <div class="around-form">

    <div class="logo">
      <p class="h2">Bem vindo de volta</p>
      <p class="text-sm opacity-30">Informe seu email e senha</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <inputy label="Login ou email" controlName="login"/>

      <inputy label="Senha" controlName="password" type="password"/>

      <button type="submit" class="btn-xl-primary w-full" [disabled]="!form.valid">
        <i class="fa-solid fa-check"></i> Acessar
      </button>

      <div class="flex justify-between mt-4">
        <a href="#" class="forget-pass-link">
          Não tem conta?
        </a>
        <a href="#" class="forget-pass-link">
          Esqueceu a senha?
        </a>
      </div>
    </form>

  </div>
</div>
