<ng-template #tipContent>
  {{label}}
  @if(tooltip){
    <br>
    <small class="font-bold" [innerHTML]="tooltip"></small>
  }
</ng-template>

<div class="!min-h-[50px] rounded-md" [id]="loaderId">
  <div class="relative" [ngbTooltip]="tipContent" [openDelay]="1000">

    <textarea
      (blur)="setTouched()" [disabled]="disabled" rows="1"
      [id]="id" [class]="classInput" placeholder=" " rows="1" [(ngModel)]="value"
      [ngClass]="{'!border-red-500':hasErrors,'!border-orange-400':!control||!formGroup,'!border-green-400':control.valid && control.touched}"
      ></textarea>

    <label [for]="id" [class]="classLabel" [ngClass]="{'opacity-40 bg-transparent cursor-not-allowed':disabled}">
      {{label}}
    </label>
  </div>
</div>

<validation [formGroup]="formGroup" [control]="control"/>

<debugy [debug]="debug" [label]="label" [control]="control" [loading]="loading"/>

