*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #ffffff42;
  border: 2px solid #ffffff2f;
}

*::-webkit-scrollbar-track:hover {
  background-color: #3f3f3f;
}

*::-webkit-scrollbar-track:active {
  background-color: #3f3f3f;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #3f3f3f;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #113441;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #3f3f3f;
}
