
<!-- Este é um arquivo de exemplo da home -->
<header data-aos="fade-up" data-aos-duration="1000" class="bg-purple-700 text-white py-6 shadow-md">
  <h1 class="text-center text-3xl font-bold">Boilerplate Angular 19 - V1.0.0
  </h1>
</header>

<main class="p-6 container mx-auto flex flex-col items-center">

  <section data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="animate__fadeInUp w-full max-w-3xl mb-6">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-2xl font-semibold text-purple-700 mb-4 text-left">Instalação</h2>
      <p class="text-gray-700">Certifique-se de ter o <b>NodeJS v20+</b> instalado. Para instalar as dependências,
        execute o seguinte comando:</p>
      <pre class="bg-gray-900 text-white p-4 rounded-lg overflow-auto">npm i</pre>
    </div>
  </section>

  <section data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="animate__fadeInUp w-full max-w-3xl mb-6">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-2xl font-semibold text-purple-700 mb-4 text-left">Bibliotecas Pré-definidas</h2>
      <p class="text-gray-700">As seguintes bibliotecas já estão incluídas no projeto:</p>
      <pre class="bg-gray-900 text-white p-4 rounded-lg overflow-auto">
"&#64;fortawesome/angular-fontawesome": "^0.15.0"
"&#64;fortawesome/fontawesome-free": "^6.6.0"
"animate.css": "^4.1.1"
"notiflix": "^3.2.7"
"moment": "^2.30.1"
"aos": "^2.3.4"
</pre>
    </div>
  </section>

  <section data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="animate__fadeInUp w-full max-w-3xl mb-6">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-2xl font-semibold text-purple-700 mb-4 text-left">Comandos</h2>
      <p class="text-gray-700">Utilize os seguintes comandos para tarefas comuns:</p>
      <ul class="list-disc pl-6 text-gray-700">
        <li>Servir na porta 3000 com ambiente 'development':
          <pre class="bg-gray-900 text-white p-4 rounded-lg overflow-auto">npm run serve</pre>
        </li>
        <li>Executar os testes unitários:
          <pre class="bg-gray-900 text-white p-4 rounded-lg overflow-auto">npm run test</pre>
        </li>
      </ul>
    </div>
  </section>

  <section data-aos="fade-up" data-aos-anchor-placement="center-bottom" class="w-full max-w-3xl mb-6">
    <div class="bg-white shadow-lg rounded-lg p-6">
      <h2 class="text-2xl font-semibold text-purple-700 mb-4 text-left">Estrutura de Pastas</h2>
      <pre class="bg-gray-900 text-white p-4 rounded-lg overflow-auto">
                            ├─public
                            │ ├───fonts
                            │ ├───images
                            │ └───styles
                            │ └───data
                            └─src
                              ├───app
                              │   ├───core
                              │   │   ├───components
                              │   │   ├───guards
                              │   │   ├───interceptors
                              │   │   ├───pages
                              │   │   └───services
                              │   ├───features
                              │   └───shared
                              │       ├───components
                              │       ├───directives
                              │       └───pipes
                              └───environments
      </pre>
      <div class="mt-4">
        <h3 class="text-xl font-medium">Diretórios e Finalidades</h3>
        <p class="text-gray-700 mt-7"><b>public/</b>: Diretório para arquivos estáticos que não são processados pelo
          Angular e podem ser acessados diretamente pelo navegador:</p>
        <ul class="list-disc pl-6 text-gray-700">
          <li><b>fonts/</b>: Armazena fontes personalizadas usadas na aplicação.</li>
          <li><b>images/</b>: Contém imagens estáticas, como logotipos ou ícones.</li>
          <li><b>styles/</b>: Armazena arquivos CSS ou SCSS globais que não pertencem a um componente específico.</li>
          <li><b>data/</b>: Pode conter arquivos JSON ou outros dados estáticos utilizados pela aplicação.</li>
        </ul>

        <p class="text-gray-700 mt-10"><b>src/</b>: Diretório principal do projeto Angular. Contém o código-fonte da
          aplicação.</p>
        <ul class="list-disc pl-6 text-gray-700">
          <li><b>app/core/</b>: Contém código essencial para a aplicação, como componentes globais (Header, Footer),
            guards, interceptors, páginas globais (login, erro 404) e serviços centrais.</li>
          <li><b>app/features/</b>: Contém módulos específicos de funcionalidades ou páginas, organizados por domínio
            ou caso de uso (ex.: products, users).</li>
          <li><b>app/shared/</b>: Diretório para recursos reutilizáveis, como componentes (botões, modais), diretivas
            personalizadas e pipes reutilizáveis.</li>
          <li><b>environments/</b>: Arquivos de configuração para diferentes ambientes (desenvolvimento, produção).
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="mt-12 text-center animate__animated animate__fadeInUp">
    <p class="text-gray-600">&copy; 2025 - Boilerplate Angular 19. Desenvolvido com <span
        class="text-red-500">&hearts;</span> para você!</p>
  </footer>

</main>
