@if(!separator){
  @if(!isSubLink){
    <div
     [routerLink]="'/'+link.link"
     routerLinkActive="bg-primary-500 dark:bg-primary-900 text-white"
     [routerLinkActiveOptions]="{exact: true}"
     (click)="closeSidebar()"
     class="link">
      <div class="me-2 text-2xl md:text-sm" [innerHTML]="link.icon"></div>
      <span class="text-2xl md:text-sm">{{ link.label }}</span>
    </div>
  }@else{
    <div class="group">
      <div
        (click)="toggleOpen()"
        routerLinkActive="bg-primary-500 dark:bg-primary-900 text-white"
        [routerLinkActiveOptions]="{exact: true}"
        class="link sublink"
      >
        <div class="flex justify-start items-center">
          <div class="me-2 text-2xl md:text-sm" [innerHTML]="link.icon"></div>
          <span class="text-2xl md:text-sm">{{ link.label }}</span>
        </div>
        <i class="fa-solid fa-chevron-down transition-all text-xs" [ngClass]="{'rotate-0':!open, 'rotate-180':open}"></i>
      </div>

      <div
        class="ms-3 overflow-hidden transition-all duration-300"
        [ngClass]="{'max-h-0 opacity-0': !open, 'max-h-[100vh] opacity-100': open}"
      >
        @for (sub of link.links; track sub) {
          <sidebar-link [link]="sub" (onCloseSidebar)="closeSidebar()"/>
        }
      </div>
    </div>

  }
}@else{
  <div class="separator"></div>
}
